asgiref==3.11.1
boto3==1.43.8
botocore==1.43.8
Django==6.0.4
django-phonenumber-field==8.4.0
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
jmespath==1.1.0
phonenumbers==9.0.28
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.17.0
simplejwt==2.0.1
six==1.17.0
sqlparse==0.5.5
typing==3.7.4.3
urllib3==2.7.0
